body{
    background-color: lightblue;
    font-size : 20px;
}

text{
    color: white;
}

a{
    font-weight: 1000;
}

h1{
    color: white;
}

h2{
    color: rgb(4, 255, 255);
}

.h1{
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}

.table{
    margin: 20px;
    width: 95%;
}

#formRegistro{
    margin: 20px;
    width:40%;
}

.navbar-light .navbar-brand {
    margin-left: 10px;
    font-size: 35px;
    color: rgba(35, 230, 18, 0.9);
}

#cabeceraBilletera{  
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "columna1 columna2 columna3";
    width: 100%;
}

#montoTotal{
    font-size: 35px;
    margin-top: 30px;
}

#cantidadEfectivo{
    font-size: 35px;
    margin-top: 30px;
    color: rgb(114, 114, 252);
}

#tablaBilletera{
    margin: 20px;
    width: 95%;
}

.Columna1{
    grid-area: columna1;
    width: 97%;
}

.Columna2{
    grid-area: columna2;
    width: 97%;
}

.Columna3{
    grid-area: columna3;
    width: 97%;
}

#columna1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

#columna2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}

#columna3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}

.navbar{
    background-image: linear-gradient(lightblue, white, lightblue);
}


/* Pantallas Pequeñas */
@media only screen and (max-width: 600px){

    #montoTotal{
        font-size: 20px;
        margin-top: 15px;
    }
    
    #cantidadEfectivo{
        font-size: 20px;
        margin-top: 15px;
        color: rgb(114, 114, 252);
    }

    .navbar-light .navbar-brand {
        margin-left: 10px;
        font-size: 20px;
        color: rgba(35, 230, 18, 0.9);
    }
    
    body{
        background-color: lightblue;
        font-size : 14px;
    }
    
    .Columna1{
        grid-area: columna1;
        width: 80%;
    }
    
    .Columna2{
        grid-area: columna2;
        width: 80%;
    }

    /*
    body{
        header{
            height: 250px;
            p{
                padding-top: 2px;
                font-size: 25px;
                text-shadow: 2px 2px 2px black;
            }
        }
    }
    
    body{
        footer{
            p{
                font-size: 20px;
                text-shadow: 2px 2px 2px black;
            }
        }
    }
    
    .contenedorFormulario{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: "formulario";
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        font-size: 15px;
        width: 100%;
    }
    
    .videos{
        width: 100%;
        margin: 0px;
        border: 0px;
        padding: 0px;
        justify-content: center;
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "video1"
                             "video2"
                             "video3"
                             "video4"
                             "video5"
                             "video6";
        align-items: center;
        justify-items: center;
    }

    fieldset label{
        font-size: 15px;
        margin: 5px;
    }
    
    fieldset input{
        font-size: 15px;
        margin: 5px;
        width: 125px;
    }
    
    form textarea{
        font-size: 15px;
        margin: 5px;
    }
        
    form textarea{
        font-size: 15px;
        margin: 5px;
    }
    
    .menu{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }

    nav{
        ul{
           li{
                text-decoration: none;
                list-style-type: none;
                padding: 0px 0px 0px 0px;
                margin: 5px;
                font-style: normal;
                width: 80%;
           }
        }
    }

    @for $i from 1 through 6{

        .video-#{$i}{
            grid-area: video#{$i};
            width: 100%;
            height: 188px;
            padding: 10px;
        }
    
    }

    //Fotografías 

    .mainFotos{
        margin: 0px;
        border: 0px;
        padding: 0px;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto ;
        grid-template-areas: ". misFotos .";
        justify-items: center;
    }
  
    .carousel{
        grid-area: misFotos;
        width: 100%;
    }

    #carouselExampleControls{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .mainInicio{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mainVideos{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mainRefugios{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .mainContacto{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    */

} 


